In [2]:
import pandas as pd
import matplotlib as plot
import seaborn as sns

In [6]:
data = pd.read_csv('SBAcase.11.13.17.csv',  encoding='latin1' )

In [7]:
data.head()

,Selected,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,...,ChgOffPrinGr,GrAppv,SBA_Appv,New,RealEstate,Portion,Recession,daysterm,xx,Default
0,0,1004285007,SIMPLEX OFFICE SOLUTIONS,ANAHEIM,CA,92801,CALIFORNIA BANK & TRUST,CA,532420,15074,...,0,30000,15000,0,0,0.5,0,1080,16175.0,0
1,1,1004535010,DREAM HOME REALTY,TORRANCE,CA,90505,CALIFORNIA BANK & TRUST,CA,531210,15130,...,0,30000,15000,0,0,0.5,1,1680,17658.0,0
2,0,1005005006,"Winset, Inc. dba Bankers Hill",SAN DIEGO,CA,92103,CALIFORNIA BANK & TRUST,CA,531210,15188,...,0,30000,15000,0,0,0.5,0,1080,16298.0,0
3,1,1005535001,Shiva Management,SAN DIEGO,CA,92108,CALIFORNIA BANK & TRUST,CA,531312,15719,...,0,50000,25000,0,0,0.5,0,1080,16816.0,0
4,1,1005996006,"GOLD CROWN HOME LOANS, INC",LOS ANGELES,CA,91345,SBA - EDF ENFORCEMENT ACTION,CO,531390,16840,...,0,343000,343000,0,1,1.0,0,7200,24103.0,0

In [14]:
data.Default.value_counts()/data.Default.count()

0    0.673644
1    0.326356
Name: Default, dtype: float64

In [18]:
#probability of default given a new business
data.NewExist.count()

2101

In [19]:
data.NewExist.value_counts()

1.0    1776
2.0     324
0.0       1
Name: NewExist, dtype: int64

In [25]:
#Default given new business
data.groupby(['Default']).NewExist.value_counts()/data.groupby(['Default']).NewExist.count()

Default  NewExist
0        1.0         0.849470
         2.0         0.149823
         0.0         0.000707
1        1.0         0.836735
         2.0         0.163265
Name: NewExist, dtype: float64

In [51]:
##  P(default | new business)

print(data.groupby(['NewExist']).Default.mean())
print(data.groupby(['NewExist']).Default.agg(['sum','count','mean'])).reset_index()

NewExist
0.0    0.000000
1.0    0.323198
2.0    0.345679
Name: Default, dtype: float64
   NewExist  sum  count      mean
0       0.0    0      1  0.000000
1       1.0  574   1776  0.323198
2       2.0  112    324  0.345679

In [52]:
## Conditional Probability of Default = 0

newData = data.groupby(['NewExist']).Default.agg(['sum','count','mean']).reset_index()
newData['mean'] = 1 - newData['mean']
newData['mean']

0    1.000000
1    0.676802
2    0.654321
Name: mean, dtype: float64

In [ ]:
## P(charge-off amount | new business, default)? Compare it to P(charge-off amount | old business, default)
## box plot New Business/Old Business Y = Charge off Amount